{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["ie >= 11"],
        "node": "6.10.0"
      }
    }]
  ],
  "plugins": [
    "transform-class-properties",
    "transform-decorators-legacy"
  ]
}
